<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Flight</title>
</head>
<body>
    <div align="center">
        <h1>Create New flight</h1>
        <br />
        <form action="#" th:action="@{/saveFlight}" th:object="${product}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Tujuan</td>
                    <td><input type="text" th:field="*{tujuan}" /></td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td><input type="text" th:field="*{date}" /></td>
                </tr>
                <tr>
                    <td>Maskapai</td>
                    <td><input type="text" th:field="*{maskapai}" /></td>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>